* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
}

body, html, h1 {
	padding: 0;
	margin: 0;
}

html {
	background: #f6f5f4;
}

body {
	display: flex;
	flex-direction: column;
}

a {
	color: #613583;
}

header {
	background: #3c6332;
	padding-top: 4rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 0.5rem;
}

header h1 {
	display: inline;
	color: white;
}

aside {
	margin: 1rem;
	text-align: right;
	flex-shrink: 0;
	min-width: 10rem;
}

main {
	max-width: 30rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	flex-grow: 1;
}

footer {
	padding: 1rem;
	background: black;
	color: white;
	flex-shrink: 0;
}

.avatar {
	width: 6rem;
}

.wrapper {
	flex: 1 0 auto;
	display: flex;
	flex-direction: row;
	gap: 1rem;
	background-image: url('z.svg');
	background-repeat: no-repeat;
	background-position: bottom 1rem right 1rem;
	background-size: 20rem;
}

@media print, only screen and (max-width: 30rem)  {
	.wrapper {
		flex-direction: column-reverse;
	}

	main {
		margin: 1rem;
		margin-bottom: 0;
	}
}

.blurb {
	font-size: 1.2em;
}

.icons, nav {
	display: flex;
	gap: 1rem;
	flex-grow: wrap;
	justify-content: space-evenly;
}

.icon img {
	width: 6rem;
	margin: 0;
	padding: 0;
}

.icon {
	border-radius: 0.25rem;
	border: 1px solid #333;
	background: #e3e3e3;
	box-shadow: 0 0.05rem 0.1rem rgb(201, 201, 201);
	transition: 0.25s ease-in-out box-shadow;
}

.icon:hover {
	box-shadow: 0 0.15rem 0.25rem rgb(167, 167, 167);
}

nav {
	justify-content: center;
}

nav a {
	color: white;
	text-decoration: none;
}

nav a {
	margin: 5px 0;
	padding: 4px;
	border: 1px solid black;
	border-radius: 3px;
	background: #613583;
	transition: 0.25s ease-in-out box-shadow;
}

nav a:hover {
	background: #522a70;
	box-shadow: 0 0.15rem 0.25rem #555;
}

@media print {
	.icons, nav {
		display: none;
	}
}
